body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: graytext;
        }
        
        header {
            background-color: #3498db; /* Azul */
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        
        main {
            background-color: #f1f1f1; /* Azul claro */
            padding: 20px;
        }
        
        article {
            text-align: center;
            color: #fff;
            background-color: #2980b9; /* Otro tono de azul */
            font-family: serif;
            font-size: 1.75em;
            padding: 20px;
        }
        
        footer {
            background-color: #16a085; /* Cian */
            color: #fff;
            padding: 20px;
            text-align: center;
        }